* {
    box-sizing: content-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    padding: 50px;
}

.container {
    width: 300px;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 0 auto;
}

#titolo{
    text-align: center;
    margin-bottom: 30px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    
    
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 13px;
    padding-right: 1px;;
    
}
button {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #45a049;
}
